<app-header *ngIf="idcd != undefined"></app-header>

<div class="unCD-card" >
  <h3>{{unCD.title | uppercase}}</h3>
  <div class="artiste">
    <p>Sortie le : {{unCD.releaseDate | date:'dd/MM/yyyy'}}</p>
    <p>Auteur : {{unCD.artist}}</p>
    <p>Prix : {{unCD.price | currency:'EUR':true}}</p>
    <p>En stock :
      <span [ngStyle]="{color: 'rgb('+ (255 - unCD.quantity) + ',' + unCD.quantity + ',0)'}">{{unCD.quantity}}</span>
      <!-- onAddCD() quand on appuie sur le bouton (meme en laissant appuyé) -->
      <button (click)="onAddCD()">+</button>
      <!-- click sur le bouton -->
    </p>
  </div>
  <p *ngIf="idcd == undefined">
    <a class="button" [routerLink]="['/cd', unCD.id]">Voir le détail</a>
  </p>
  <img [src]="unCD.cover" [alt]="unCD.title" />
</div>


